<%- include('../../partials/backend/user-header') %>
<h3 class="text-xl font-bold">Book Tour</h3>
<!-- New Table -->
<div class="container grid px-6 mx-auto">
    <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs">
        <div class="w-full overflow-x-auto">
            <p id="alert-pane" class="p-4 mb-10 border-l-4"></p>
            <table class="w-full whitespace-no-wrap">
                <thead>
                    <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b bg-gray-50">
                        <th class="px-4 py-3">Trip</th>
                        <th class="px-4 py-3">Cost</th>
                        <th class="px-4 py-3">Status</th>
                        
                    </tr>
                </thead>
                <tbody class="bg-white divide-y">
                    <% if (bookings && bookings.length > 0) { bookings.forEach((trip) => { %>
                    <tr class="text-gray-700">
                        <td class="px-4 py-3">
                           <div class="space-y-1">
                                <h5 class="text-sm font-bold"><%= trip.tourType.name %></h5>
                                <small class="helper-text"><%= trip.bookingId %></small>
                           </div>
                        </td>
                        <td class="px-4 py-3 text-sm">
                            <span class="success-badge"> NGN<%= trip.totalCost %> </span>
                        </td>
                        <td class="px-4 py-3 text-xs">
                            <% if(trip.isPending == 1){ %>
                            <span class="success-badge"> Active </span>
                            <%}else{ %>
                            <span class="danger-badge"> Not Active </span>
                            <%}%>
                        </td>
                        
                    </tr>
                    <% }); } else { %>
                    <tr class="text-gray-700">
                        <td class="px-4 py-3" colspan="4">
                            <p class="text-sm text-center">You have no trip scheduled</p>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    const tours = [];
    $(document).ready(function(){
        $('#alert-pane').hide();
		$.ajax({
			url: "/graphql/",
			method: "POST",
			data: JSON.stringify({
                query:` query Tours {
                        tours {
                            cost
                            discount
                            country
                            name
                            images
                            id
                        }
                    }             
                `
            }),
			headers: {
				Accept: "application/json; charset=utf-8",
				"Content-Type": "application/json; charset=utf-8",
			},
			success: function (result) {
                const {data} = result;

                let div = `<option value="" disabled selected> select tour </option>`
                $.each(data.tours, (i, tour)=> {
                    tours.push(tour);
                    div += `<option value="${tour.id}"> ${tour.name} </option>`;
                    $('#tour').html(div)
                });
                //$('#tour').append(options)
			},
			error: function (data, status, error) {
				console.log(data.responseText);
			},
		});
    })

    $(document).on("submit", "#app", function (e) {
		e.preventDefault();
		const data = {};
		
		let params = new URL(document.location.toString()).searchParams;
		let redirect = params.get("redirect");
	

		$.each($(this).serializeArray(), (idx, field) => {
			const { name, value } = field;
			data[name] = value;
		});

        console.log(data);
		$.ajax({
			url: "/user/book-tour",
			method: "POST",
			data: JSON.stringify(data),
            contentType:'application/json',
			headers: {
				Accept: "application/json; charset=utf-8",
				"Content-Type": "application/json; charset=utf-8",
			},
			success: function (response) {
                console.log(response);
				const { success, message, data } = response;
				if (success) {
					$("#alert-pane").removeClass("bg-orange-100  border-orange-500 text-orange-700").addClass("bg-green-100  border-green-500 text-green-700").html(message).show();

					setTimeout(function () {
						$("#alert-pane").fadeOut();
						window.location.href = redirect? redirect:"/user/ticket?ticket="+data.bookingId;
					}, 3000);
				}
			},
			error: function (data, status, error) {
				const { success, message } = data.responseJSON;

				$("#alert-pane").removeClass("bg-green-100  border-green-500 text-green-700").addClass("bg-orange-100  border-orange-500 text-orange-700").html(message).show();

				setTimeout(function () {
					$("#alert-pane").fadeOut();
				}, 5000);
			},
		});
	});

    $(document).on("change", "#tour", function (e) {
		e.preventDefault();
		const data = {};
        const selectedId = $(this).val();
        const result = tours.filter((tour) => tour.id === selectedId)[0];
        
        const discount = result.discount;
        const cost = result.cost;
        let price = 0;
        
        if (discount > 0) {
            price = cost - discount;
        }else{
            price = cost;
        }

        $('#price').val(price < 0 ? 0 : price);
        $('#cost').val(price < 0 ? 0 : price);
	});

    $(document).on("change", "#qty", function (e) {
		e.preventDefault();
        const qty = $(this).val();
        const price = $('#price').val();

        const totalCost = Number(qty) * Number(price);
        $('#cost').val(totalCost)
	});
</script>
<%- include('../../partials/backend/user-footer') %>