<%- include('../partials/frontend/header') -%>

<section class="bg-white pt-44">
	<div class="items-center max-w-screen-xl px-4 py-8 mx-auto">
		<div>
			<ul class="gap-4 items-center font-medium text-sm flex">
				<li>
					<a href="/tours" class="text-indigo-500"> <i class="fa-solid fa-arrow-left"></i> Tour Locations </a>
				</li>

				<li class="h-6 border-r border-gray-500 -skew-x-12"></li>

				<li>
					<a href="#" class="text-gray-500"> <%= tour.country %> (<%= tour.name %>) </a>
				</li>
			</ul>
		</div>
		<div class="grid md:grid-cols-2 gap-10 sm:grid-cols-1 items-center justify-start z-0">
			<div id="carousel">
				<div class="p-5 sm:p-8">
					<div class="columns-1 gap-5 sm:columns-2 sm:gap-2 md:columns-2 lg:columns-2 [&>img:not(:first-child)]:mt-8">
						<% if (tour.images) { tour.images.forEach((img) => {%>
						<img src="<%= baseUrl + img %>" class="rounded-lg" />
						<% });} %>
					</div>
				</div>
			</div>

			<div id="details" class="grid grid-cols-1 items-start">
				<h3 class="px-9 text-4xl text-gray-900"><%= tour?.country %></h3>
				<h3 class="px-9 text-xl font-bold text-gray-700 mt-2"><%= tour?.name %></h3>
				<h3 class="px-9 text-lg font-bold text-gray-500 mt-4"><i class="fa-regular fa-map"></i> <%= tour?.locations?.join(', ') %></h3>
				<div class="relative overflow-hidden h-full">
					<div class="p-9 space-y-4">
						<svg class="w-12 h-12 mx-auto text-gray-400 sm:mx-0" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M11 8L20 8" stroke="#111827" stroke-width="2" stroke-linecap="round"></path>
							<path d="M4 16L14 16" stroke="#111827" stroke-width="2" stroke-linecap="round"></path>
							<ellipse cx="7" cy="8" rx="3" ry="3" transform="rotate(90 7 8)" stroke="#111827" stroke-width="2" stroke-linecap="round"></ellipse>
							<ellipse cx="17" cy="16" rx="3" ry="3" transform="rotate(90 17 16)" stroke="#111827" stroke-width="2" stroke-linecap="round"></ellipse>
						</svg>
						<p class="mt-6 text-base text-gray-600"><%=tour.description %></p>
						<p><% if (tour.discount > 0) { %><span class="line-through">NGN <%= tour.cost %> </span> <% } %> <span>NGN <%= tour.cost-tour.discount < 0 ? 0 :tour.cost-tour.discount %> </span></p>
						<a href="/book-tour?tour=<%= tour._id %>" class="primary-btn"> Book Now</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<%- include('../partials/frontend/footer') -%>
