<%- include('../../partials/backend/header') %>
<div class="container px-6 mx-auto grid">
	<h2 class="my-6 text-2xl font-semibold text-gray-700">Tours</h2>

	<!-- New Table -->
	<div class="w-full overflow-hidden rounded-lg shadow-xs">
		<div class="float-end">
			<a href="/account/tours/create" class="bg-purple-600 text-white p-2 rounded-lg">Add Tour</a>
		</div>
		<div class="w-full overflow-x-auto">
			<table class="w-full whitespace-no-wrap">
				<thead>
					<tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b bg-gray-50">
						<th class="px-4 py-3">Client</th>
						<th class="px-4 py-3">Amount</th>
						<th class="px-4 py-3">Status</th>
						<th class="px-4 py-3">Date</th>
					</tr>
				</thead>
				<tbody class="bg-white divide-y">
					<% if (tours && tours.length > 0) { tours.forEach((tour) => { %>
					<tr class="text-gray-700">
						<td class="px-4 py-3">
							<div class="flex items-center text-sm">
								<!-- Avatar with inset shadow -->
								<div class="relative hidden w-24 h-24 mr-3 rounded-md md:block">
									<img class="object-cover w-full h-full rounded-md" src="<%= tour.images.length > 0 && baseUrl+tour.images[0] %>" alt="" loading="lazy" />
									<div class="absolute inset-0 rounded-sm shadow-inner" aria-hidden="true"></div>
								</div>
								<div>
									<p class="font-semibold"><%= tour.country %></p>
									<p class="text-xs text-gray-600"><%= tour.name %></p>
								</div>
							</div>
						</td>
						<td class="px-4 py-3 text-sm">
							<% if(tour.discount > 0){ %>
							<span class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full line-through"> NGN<%= tour.cost %> </span>
							<% } %>
							<span class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-0 rounded-full"> NGN<%= (tour.cost - tour.discount) < 0 ? 0 :(tour.cost - tour.discount) %> </span>
						</td>
						<td class="px-4 py-3 text-xs">
							<span class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full"> Approved </span>
						</td>
						<td class="px-4 py-3 text-sm">
							<div class="inline-flex rounded-md shadow-sm" role="group">
								<a type="button" href="/account/tours/<%= tour._id %>/edit" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-transparent border border-gray-900 rounded-s-lg hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-700"><i class="fa-regular fa-pen-to-square"></i> </a>
								<button type="button" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-transparent border-t border-b border-gray-900 hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-700"><i class="fa-regular fa-trash-can"></i></button>
								<button type="button" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-transparent border border-gray-900 rounded-e-lg hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-700">
									<i class="fa-regular fa-eye-slash"></i>
								</button>
							</div>
						</td>
					</tr>
					<% }); } else { %>
					<tr class="text-gray-700">
						<td class="px-4 py-3" colspan="4">
							<p class="text-center text-sm">You have no booking scheduled</p>
						</td>
					</tr>
					<% } %>
				</tbody>
			</table>
		</div>
	</div>
</div>
<%- include('../../partials/backend/footer') %>
